@{
    ViewBag.Title = "Home Page";
}


            <div class="jumbotron vertical-center">
                <h1>Crisping Brews</h1>
                <p><a href="https://asp.net" class="btn btn-primary btn-lg">Enter &raquo;</a></p>
            </div>
